@use '../../../../../styles.scss' as style;
.displayer {
    margin-bottom: 5%;
}
.title {
    background-color: style.$blue-gophysics;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 2%;
}
.details, .value {
    padding: 1%;
}
.value {
    font-weight: bold;
}