@use '../../../../../styles.scss' as style;
.displayer {
    margin-bottom: 5%;
    padding-top: 130px;
}
.title {
    background-color: style.$blue-gophysics;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 2%;
}
.details, .value {
    padding: 1%;
}
.value {
    font-weight: bold;
}

@media only screen and (max-width: 899px){
    .value {
        font-size: 18px;
    }
}
@media only screen and (max-width: 499px){
    .value {
        font-size: 14px;
    }
}