@use '../../../../styles.scss' as style;
#error-panel {
    width: 60%;
    margin-left: 18%;
    padding: 1%;
    text-align: center;
    padding-top: 100px;

    .icon {
        transform: scale(7);
    }

    #title {
        margin-top: 30px;
        font-size: 70px;
    }
    #sub-title {
        font-size: 35px;
    }
    #tips {
        text-align: left;
    }

    nav {
        font-size: 18px;
    }
    a {
        text-decoration: none;
        color: style.$blue-gophysics;
    }
    a::after {
        content: "\a";
        white-space: pre;
    }
}