@use '../../../../../styles.scss' as style;
.function-displayer {
    border: 1px solid #373737;
    border-radius: 5px;
}
.function-title {
    background-color: style.$blue-gophysics;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 2%;
}
.function-details, .function-formula {
    padding: 1%;
}
.function-formula {
    font-weight: bold;
}