#bar {
    background-color: #262626;
    margin: 0;
    width: 96%;
    color: white;
    font-weight: bold;
    padding: 2%;
    text-align: center;
    top: 0;
    position: fixed;

    nav {
        font-size: 18px;
    }
    a {
        text-decoration: none;
        color: white
    }
    a:hover {
        text-decoration: underline;
    }
    span {
        padding: 1%;
    }
}

@media only screen and (max-width: 499px){
    a {
        display: none;
    }
}