@use '../../../../styles.scss' as style;
#bar {
    top: 0;
    width: 100%;
    position: fixed;
    color: white;
    font-weight: bold;
    z-index: 99;
}
#upper-bar {
    background-color: style.$blue-gophysics;
    width: 98%;
    padding: 1%;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#lower-bar {
    background-color: #262626;
    margin: 0;
    width: 98%;
    padding: 1%;
    text-align: center;

    nav {
        font-size: 18px;
    }
    a {
        text-decoration: none;
        color: white
    }
    a:hover {
        text-decoration: underline;
    }
    span {
        padding: 1%;
    }
}

@media only screen and (max-width: 499px){
    a {
        display: none;
    }
}