<div id="bar">
    <div id="upper-bar">
        <p>gophysics-library v0.18.0</p>
    </div>
    <div id="lower-bar">
        <nav>
            <a href="/angular-gophysics.io/" title="Back to main page"><span>Home</span></a>
            <a href="/angular-gophysics.io/documentation" title="Check the list of functions and formulas"><span>Documentation</span></a>
            <a href="/angular-gophysics.io/about" title="Extra details about the project"><span>About</span></a>
            <a href="https://github.com/Gabri432/gophysics" title="View the repository on Github"><span>Github</span></a>
            <a href="https://www.linkedin.com/in/gabriele-gatti-87b321190/" title="Check out my linkedin profile!"><span>Linkedin</span></a>
        </nav>
    </div> 
</div>
