#documentation-page {
    margin-top: 10%;
    width: 58%;
    margin-left: 19%;
    padding: 2%;
    background-color: white;
    z-index: -2;

    .text {
        width: 70%;
        padding-left: 15%;
        font-size: 22px;
    }
}