<div id="bar">
    <div id="socials" class="bottom">
        <h3>Find me on</h3>
        <nav>
            <a href="https://www.linkedin.com/in/gabriele-gatti-87b321190/" title="Check out my linkedin profile!">Linkedin</a>
            <a href="https://github.com/Gabri432" title="View my profile on Github!">Github</a>
        </nav>
    </div>
    <div id="help" class="bottom">
        <h3>Want to help?</h3>
        <nav>
            <a href="https://github.com/Gabri432/gophysics/issue/new" title="Goes to the section to report issues">Report issue</a>
            <a href="https://github.com/Gabri432/gophysics/blob/master/.github/CONTRIBUTING.md" title="Check how you can contribute to the project!">How to contribute</a>
            <a href="https://github.com/Gabri432/gophysics" title="View the repository on Github!">Github</a>
        </nav>
    </div>
    <div id="extra" class="bottom">
        <h3>Extra</h3>
        <nav>
            <a [routerLink]="['']" title="Back to main page">Home</a>
            <a [routerLink]="['documentation/.']" title="Check the list of functions and formulas">Documentation</a>
            <a [routerLink]="['about/.']" title="Extra details about the project">About</a>
            <a href="https://github.com/Gabri432/gophysics" title="View the repository on Github">View on Github</a>
        </nav>
    </div>
</div>

