<div id="about-page">
    <h3 id="page-title">About <span class="blue"> gophysics </span></h3>
    <div class="text">
        <h4 class="question">What is gophysics?</h4>
        <p>
            <b>It is a collection of some of the most commonly used Physics formulas and constants</b>. <br /><br /> 
            The core idea was to provide a set of functions ready to be used to avoid making manual calculations. <br /><br />
            It currently offers just a bit more than 60 formulas across different 
            <a href="https://github.com/Gabri432/gophysics/blob/master/readme.md" title="Goes to the github page of the library">fields</a>, such as classical physics, 
            gravitational physics,relativity, thermodynamics, electromagnetism and fluids. 
            While also other 50 
            <a href="https://github.com/Gabri432/gophysics/blob/master/constants/constants.go" title="Goes to the 'constants' github page package">constants</a> from the same fields.<br /><br />
            The library also provides some 
            <a href="https://github.com/Gabri432/gophysics/tree/master/mathem/readme.md" title="Goes to the 'mathem' github page package">mathematical formulas and constants</a> 
            to further ease some calculations.<br /><br />
            For the moment it <b>isn't a stable library</b>. That is, there are still a lot of functions that will be added. <br />
            This project is only in a beginning phase and may suffer several delays due to my exams and my university carrier. <br /><br />
            DISCLAIMER: this project is NOT related to the following websites, companies or organitazions: <a href="https://thegophysics.com/">thegophysics</a> or 
            <a href="https://perimeterinstitute.ca/gophysics-workshops-0">perimeterinstitute</a>.
        </p>
        <h4 class="question">Why using the Go programming language?</h4>
        <p>
            I started learning the Go programming language during my first academic year in the Programming 1 course.<br /><br /><br />
            This language is easy to use, statically typed, and provides a lot of cool features, such as being able to create functions
            with more than one output.<br /> Infact almost all <b>the functions in the library return two values, a float64 and a string</b>.<br />
            Respectevely the value of the calculation and the unit of measurement.
        </p>
        <h4 class="question">How to use the library?</h4>
        <p>
            You can follow the examples <a href="https://gabri432.github.io/angular-gophysics.io/">here</a>.
        </p>
    </div>
</div>
