<div id="about-page">
    <h3 id="page-title">About <span class="blue"> gophysics </span></h3>
    <div class="text">
        <h4 class="question">What is gophysics?</h4>
        <p>
            It is a collection of some of the most commonly used Physics formulas. <br />
            The core idea was to provide a set of functions ready to be used to avoid making manual calculations. <br />
            It currently just a bit more than 60 formulas across different fields. Such as classical physics, gravitational physics,
            relativity, thermodynamics, electromagnetism and fluids.
        </p>
        <h4 class="question"></h4>
        <p></p>
    </div>
</div>
