/* You can add global styles to this file, and also import other style files */
$blue-gophysics: #025d95;

html, body { height: 100%; scroll-behavior: smooth;  }
body { margin: 0; font-family: sans-serif, 'system-ui';  background-color: rgb(225, 249, 241); }
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #373737; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
