<div id="error-panel">
    <h1><mat-icon>sentiment_very_dissatisfied</mat-icon>
    <div id="title">Error 404</div>
    </h1>
    <div id="sub-title">Could not find what you were looking for...</div>
    <br />
    <div id="tips">
        <p>Perhaps one of those links will be helpful:</p>
        <nav>
            <a href="https://github.com/Gabri432/gophysics/issue/new" title="Goes to the section to report issues with the project">Do you need to report an issue with the library?</a>
            <a href="https://github.com/Gabri432/angular-gophysics.io/issues/new" title="Goes to the github page to report website issues">Do you have any suggestion on how to improve the website?</a>
            <a href="https://github.com/Gabri432/gophysics/blob/master/.github/CONTRIBUTING.md" title="Check how you can contribute to the project!">Do you want to make a contribution to the project?</a>
        </nav>
    </div>
</div>